---
################################################################################
# api-orch deployment
- name: Create api-orchestrator deployment directory
  file: path="{{ api_orch_dir }}" state=directory owner="{{ user }}" group="{{ group }}"
  when: build|success

- name: Check previous deployments
  stat: path="{{ api_orch_dir }}/{{ airavata_dist }}" get_md5=no get_checksum=no
  register: check

- name: stop api-orch
  command: ./bin/airavata-server-stop.sh -f
            chdir="{{ api_orch_dir }}/{{ airavata_dist }}/"
            removes="{{ api_orch_dir }}/{{ airavata_dist }}/bin/server_start_*"
  when: check.stat.exists == True

- name: Delete previous deployments
  file: path="{{ api_orch_dir }}/{{ airavata_dist }}" state=absent

- name: Copy distribution to api-orcheatrator deployment directory
  unarchive: src="{{ airavata_source_dir }}/modules/distribution/target/{{ airavata_dist_name }}"
             dest="{{ api_orch_dir }}/"
             copy=no

- name: set api-orch private ip
  set_fact:
    api_server_host: "{{ ansible_eth0.ipv4.address }}"
    orchestrator_host: "{{ ansible_eth0.ipv4.address }}"
    cred_store_server_host: "{{ ansible_eth0.ipv4.address }}"


- name: Copy Airavata server properties file
  template: src=airavata-server.properties.j2
            dest="{{ api_orch_dir }}/{{ airavata_dist }}/bin/airavata-server.properties"
            owner={{ user }}
            group={{ group }}
            mode="u=rw,g=r,o=r"

- name: Copy Gfac configuration file
  template: src=gfac-config.yaml.j2
            dest="{{ api_orch_dir }}/{{ airavata_dist }}/bin/gfac-config.yaml"
            owner={{ user }}
            group={{ group }}
            mode="u=rw,g=r,o=r"

- name: Copy Mysql jar to lib
  copy: src={{ mysql_connector_jar }}
        dest="{{ api_orch_dir }}/{{ airavata_dist }}/lib/{{ mysql_connector_jar }}"
        owner={{ user }}
        group={{ group }}

- name: Open firwall ports
  firewalld: port={{ item }} zone=public permanent=true state=enabled immediate=yes
  with_items:
    - "{{ api_server_port }}/tcp"
    - "{{ orchestrator_port }}/tcp"
    - "{{ cred_store_port }}/tcp"
  become_user: root

- name: stop api-orch
  command: ./bin/airavata-server-stop.sh -f
           chdir="{{ api_orch_dir }}/{{ airavata_dist }}/"
           removes="{{ api_orch_dir }}/{{ airavata_dist }}/bin/server_start_*"

- name: start api-orch
  command: ./bin/airavata-server-start.sh api-orch -d
           chdir="{{ api_orch_dir }}/{{ airavata_dist }}/"
           creates="{{ api_orch_dir }}/{{ airavata_dist }}/bin/server_start_*"

...
