<jnlp spec="1.0+" codebase="$jnlpURLPrefix/"
   href="$outputFile">
<information>
	<title>Paremberoo</title>
	<vendor>ParamChem and OGCE</vendor>
	<homepage href="https://paramchem.org/"/>
	<description>ParamChem Cross-Platform Molecular Editor and CGenFF Workflow Execution using Apache Airavata</description>
	<!-- Images for icon/splash -->
    <icon href="paramchem_logo.jpg"/>
	<offline-allowed/>
</information>
  
<security>
	<all-permissions/>
</security>
<update check="always" policy="prompt-update" />
<resources>
	<j2se version="1.5+" java-vm-args="-Xmx1024m" />
	<property name="log" value="org.apache.airavata.xbaya:ALL"/>
	$dependencies
</resources>
<application-desc main-class="$mainClass"/>
</jnlp>
