# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

###########################################################################
#  Registry Server Configurations
###########################################################################
regserver.server.host={{ registry_host }}
regserver.server.port={{ registry_port }}

###########################################################################
# Helix workflow manager configurations
###########################################################################
kafka.broker.url={{ job_monitor_broker_url }}
kafka.broker.topic={{ job_monitor_broker_topic }}
kafka.broker.consumer.group={{ job_monitor_broker_consumer_group }}
helix.cluster.name={{ helix_cluster_name }}
post.workflow.manager.name={{ helix_post_wm_name }}
post.workflow.manager.loadbalance.clusters={{ helix_post_wm_load_balance_clusters }}

###########################################################################
# AMQP Notification Configuration
###########################################################################
#for simple scenarios we can use the guest user
#rabbitmq.broker.url=amqp://localhost:5672
#for production scenarios, give url as amqp://userName:password@hostName:portNumber/virtualHost, create user, virtualhost
# and give permissions, refer: http://blog.dtzq.com/2012/06/rabbitmq-users-and-virtual-hosts.html
rabbitmq.broker.url={{ rabbitmq_broker_url }}
rabbitmq.status.exchange.name=status_exchange
rabbitmq.process.exchange.name=process_exchange
rabbitmq.experiment.exchange.name=experiment_exchange
durable.queue=false
prefetch.count=200
process.launch.queue.name=process.launch.queue
experiment.launch..queue.name=experiment.launch.queue

###########################################################################
# Zookeeper Server Configuration
###########################################################################
zookeeper.server.connection={{ zookeeper_connection_url }}
zookeeper.timeout=30000

###########################################################################
# ThriftClientPool Configuration
###########################################################################
thrift.client.pool.abandoned.removal.enabled={{ thrift_client_pool_abandoned_removal_enabled }}
thrift.client.pool.abandoned.removal.logged={{ thrift_client_pool_abandoned_removal_logged }}

###########################################################################
# Platform Monitoring Configuration
###########################################################################
post.workflow.manager.monitoring.enabled={{ post_workflow_manager_monitoring_enabled }}
post.workflow.manager.monitoring.host={{ post_workflow_manager_monitoring_host }}
post.workflow.manager.monitoring.port={{ post_workflow_manager_monitoring_port }}