{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% if options.external %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Log in with your existing organizational login</h5>
          {% for external in options.external %}
          <a {% if next %} href="{% url 'django_airavata_auth:redirect_login' external.idp_alias %}?next={{ next | urlencode }}"
            {% else %} href="{% url 'django_airavata_auth:redirect_login' external.idp_alias %}" {% endif %} class="btn btn-primary btn-block mt-3">
            Sign in with {{ external.name }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          {% if not options.password.name %}
          <h5 class="card-title">Create an account</h5>
          {% else %}
          <h5 class="card-title">Create a {{ options.password.name }} account</h5>
          {% endif %}
          <form action="{% url 'django_airavata_auth:create_account' %}" method="post">
            {{ form.non_field_errors }}
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              <input id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}"
                class="form-control{% if field.errors %} is-invalid{% endif %}" name="{{ field.name }}"
                placeholder="{{ field.field.widget.attrs.placeholder }}"
                {% if field.value %} value="{{ field.value }}" {% endif %}
                {% if field.field.required %} required {% endif %} />
              <div class="invalid-feedback">
                {% for error in field.errors %}
                {{ error | escape }}
                {% endfor %}
              </div>
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-block">
              Create
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
