{% extends 'base.html' %}

{% block content %}

<main class="main-content">
<div class="container">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Forgot Password?</h5>
          <p class="card-text">If you forgot your password you can reset it. Just enter the username for your account and click Email Reset Link.</p>
          {% include "./partials/messages.html" %}
          {% url 'django_airavata_auth:forgot_password' as form_url %}
          {% include "./partials/form.html" with form=form url=form_url submit_text="Email Reset Link" %}
        </div>
      </div>
    </div>
  </div>
</div>
</main>

{% endblock %}
