{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Login</h3>
                    <form action="{% url 'django_airavata_auth:handle_login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ username }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>CILogon</h3>
                    <a href="{% url 'django_airavata_auth:redirect_login' %}" class="btn btn-default">
                        Sign in with CILogon
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
