{% if vhost_server_redirect is defined %}
<VirtualHost *:{{pga_default_http_port}}>
    ServerName {{ vhost_server_redirect }}
    Redirect "/" "https://{{ vhost_servername }}"
</VirtualHost>
<VirtualHost *:{{pga_default_https_port}}>
    ServerName {{ vhost_server_redirect }}
    Redirect "/" "https://{{ vhost_servername }}"
</VirtualHost>
{% endif %}

<VirtualHost *:{{pga_default_http_port}}>
    ServerName {{ vhost_servername }}
    {% if vhost_serveralias is defined %}
    ServerAlias {{ vhost_serveralias }}
    {% endif %}

    ## Redirect all http traffic to https
    RewriteEngine On
    RewriteCond %{HTTPS} off
    # Redirect to SSL domain name
    RewriteRule (.*) https://{{ vhost_servername }}%{REQUEST_URI}
</VirtualHost>

<VirtualHost *:{{pga_default_https_port}}>
    ServerName {{ vhost_servername }}

    DocumentRoot {{ doc_root_dir }}/public
    <Directory "{{ doc_root_dir }}/public">
       AllowOverride All
       php_value upload_max_filesize {{ php_upload_max_filesize }}
       php_value post_max_size {{ php_post_max_size }}
    </Directory>
    ErrorLog {{ httpd_log_dir[ansible_os_family] }}/{{ gateway_id }}.error.log
    CustomLog {{ httpd_log_dir[ansible_os_family] }}/{{ gateway_id }}.requests.log combined
    SSLEngine on
    # Disable SSLv3 which is vulnerable to the POODLE attack
    SSLProtocol All -SSLv2 -SSLv3
    SSLCertificateFile {{ ssl_certificate_file }}
    SSLCertificateChainFile {{ ssl_certificate_chain_file }}
    SSLCertificateKeyFile {{ ssl_certificate_key_file }}
</VirtualHost>
