{% extends 'base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block css %}
{% comment %} TODO: are chunk-vendors and chunk-common needed? {% endcomment %}
{% comment %} {% render_bundle 'chunk-vendors' 'css' 'WORKSPACE' %} {% endcomment %}
{% comment %} {% render_bundle 'chunk-common' 'css' 'WORKSPACE' %} {% endcomment %}
{% comment %} {% render_bundle 'adpf' 'css' 'WORKSPACE' %} {% endcomment %}
{% endblock %}

{% block content %}
{% comment %} TODO: maybe use wc- as a prefix? {% endcomment %}
<div class="main-content-wrapper">
    <main class="main-content">
        <div class="container-fluid">
          <h1>SUPCRTBL Online Version 1.0.1</h2>
          <adpf-experiment-editor
            id="experiment-editor"
            application-id="supcrtbl_eb4216b3-fcbf-4422-a70d-27af2550cfb6"
            {% if experiment_id %}
            experiment-id="{{ experiment_id }}"
            {% endif %} >
            <div id="solvent" slot="Specify Solvent Phase Region">
              <label for="solventPhase">Specify solvent phase region:</label>
              <input type="radio" name="solventPhase" value="0">One-phase region</input> <br/>
              <input type="radio" name="solventPhase" value="1">liquid vapor saturation curve</input>
            </div>
            <div id="lipVapSat" slot="Specify Independent Liq-vap Saturation Variable (3)">
              <label for="lipVapSatVar">Specify independent liq-vap saturation variable:</label>
              <input type="radio" name="lipVapSatVar" value="0">Temperature (degCel)</input> <br/>
              <input type="radio" name="lipVapSatVar" value="1">Pressure (bars)</input>
            </div>
            <div id="indVar" slot="Specify Independent State Variables">
              <label for="independentStateVar">Specify independent State Variables:</label>
              <input type="radio" name="independentStateVar" value="0" >Temperature (degCel), density(H2O) (g/cc)</input> <br/>
              <input type="radio" name="independentStateVar" value="1">Temperature (degCel), pressure (bars)</input>
            </div>
            <div id="univariantCurve" slot="Univariant Curve Option (2)">
              <label for="univariantCurveOption">Would you like to use the univariant curve option?
              (i.e., calculate T(logK,P) or P(logK,T):</label>
              <input type="radio" name="univariantCurveOption" value="0">Yes</input> <br/>
              <input type="radio" name="univariantCurveOption" value="1">No</input>
            </div>
            <div id="tabulationBaric" slot="Specify Tabulation Option (2)">
              <label for="tabulationBaricOption">Specify tabulation option:</label>
              <input type="radio" name="tabulationBaricOption" value="0">Calculate ISOBARIC (T) tables</input> <br/>
              <input type="radio" name="tabulationBaricOption" value="1">Calculate ISOTHERMAL (D) tables</input>
            </div>
            <div id="tabulationChoric" slot="Specify Tabulation Option (1)">
              <label for="tabulatioChoricnOption">Specify tabulation option:</label>
              <input type="radio" name="tabulationChoricOption" value="0">Calculate ISOCHORIC (T) tables</input> <br/>
              <input type="radio" name="tabulationChoricOption" value="1">Calculate ISOTHERMAL (D) tables</input>
            </div>
            <!-- TODO: Specify Table-increment Option (2) ? -->
            <!-- TODO: Specify Table-increment Option (3) ?-->
            <div id="table" slot="Specify Table Increment Option (1)">
              <label for="tableIncrement">Specify table-increment option:</label>
              <input type="radio" name="tableIncrement" value="0">Calculate tables having uniform increments</input> <br/>
              <input type="radio" name="tableIncrement" value="1">Calculate tables having unequal increments</input>
            </div>
            <div id="univariantCalc" slot="Specify Univariant Calculation Option (2)">
              <label for="univariantCalcOption">Specify univariant calculation option:</label>
              <input type="radio" name="univariantCalcOption" value="0">Calculate T (logK, isobars)</input> <br/>
              <input type="radio" name="univariantCalcOption" value="1">Calculate P (logK, isotherms)</input>
            </div>
            <div id="isochores" slot="Specify ISOCHORES (g/cc) Range (1)">
              <label for="isochoresRange">Specify ISOCHORES(g/cc) range: <br/>
                min, max, increment</label>
              <input type="text" name="isochoresRange" id="isochoresRange" />
            </div>
            <!-- TODO: Specify TEMP(degCel) Range (2) ? -->
            <!-- TODO: Specify TEMP(degCel) Range (3) ? -->
            <div id="temp" slot="Specify TEMP(degCel) Range (1)">
              <label for="tempRange">Specify TEMP (degCel) range: <br/>
                min, max, increment</label>
              <input type="text" name="tempRange" id="tempRange" />
            </div>
            <div id="dH2OTemp" slot="Specify DH2O(g/cc) TEMP(degCel) ValuePairs (1)">
              <label for="dH2OTempPairs">Specify DH2O(g/cc), TEMP (degCel) value pairs: <br/>
                One pair per line, ending with 0,0</label>
              <textarea name="dH2OTempPairs" id="dH2OTempPairs" ></textarea>
            </div>
            <!-- TODO: or "Specify ISOTHERMS(degCel) Range (2)" ?-->
            <div id="isotherms" slot="Specify ISOTHERMS(degCel) range (1)">
              <label for="isothermsRange">Specify ISOTHERMS (degCel) range: <br/>
                min, max, increment</label>
              <input type="text" name="isothermsRange" id="isothermsRange" />
            </div>
            <div id="dH2O" slot="Specify DH2O(g/cc) Range (1)">
              <label for="dH2ORange">Specify DH2O (g/cc) range: <br/>
                min, max, increment</label>
              <input type="text" name="dH2ORange" id="dH2ORange" />
            </div>
            <div id="tempDH2O" slot="Specify TEMP(degCel) DH2O(g/cc) Value Pairs (1)">
              <label for="tempDH2OPairs">Specify TEMP (degCel), DH2O(g/cc) value pairs: <br/>
                One pair per line, ending with 0,0</label>
              <textarea name="tempDH2OPairs" id="tempDH2OPairs" ></textarea>
            </div>
            <div id="isobars" slot="Specify ISOBARS(bars) Range (2)">
              <label for="isobarsRange">Specify ISOBARS(bars) range: <br/>
                min, max, increment</label>
              <input type="text" name="isobarsRange" id="isobarsRange" />
            </div>
            <div id="logK" slot="Specify LogK Range (2)">
              <label for="logKRange">Specify logK range: <br/>
                Kmin, Kmax, Kincrement</label>
              <input type="text" name="logKRange" id="logKRange" />
            </div>
            <div id="logKBoundingTemp" slot="Specify Bounding TEMP(degCel) Range (2)">
              <label for="logKBoundingTempRange">Specify bounding TEMP (degCel) range: <br/>
              T min, T max:</label>
              <input type="text" name="logKBoundingTempRange" id="logKBoundingTempRange" />
            </div>
            <div id="logKBoundingPres" slot="Specify Bounding PRES(bars) Range (2)">
              <label for="logKBoundingPresRange">Specify bounding PRES (bars) range: <br/>
              P min, P max:</label>
              <input type="text" name="logKBoundingPresRange" id="logKBoundingPresRange" />
            </div>
            <!-- TODO: what input does this match? -->
            <div id="presTemp">
              <label for="presTempPairs">Specify PRES (bars), TEMP (degCel) value pairs: <br/>
                One pair per line, ending with 0,0</label>
              <textarea name="presTempPairs" id="presTempPairs"></textarea>
            </div>
            <!-- TODO: or Specify PRES(bars) range (2) ?-->
            <div id="pres" slot="Specify PRES(bars) Range (3)">
              <label for="presRange">Specify PRES (bars) range: <br/>
                min, max, increment</label>
              <input type="text" name="presRange" id="presRange" />
            </div>
            <div id="tempPres" slot="Specify TEMP(degCel) Pres(g/cc) Value Pairs (2)">
              <label for="tempPresPairs">Specify TEMP (degCel), Pres(g/cc) value pairs: <br/>
                One pair per line, ending with 0,0</label>
              <textarea name="tempPresPairs" id="tempPresPairs" ></textarea>
            </div>
            <div id="lipVapSatTemp" slot="Specify Liq-vap Saturation TEMP(degCel) Values (3)">
              <label for="lipVapSatTempVal">Specify liq-vap saturation TEMP (degCel) values: <br/>
                One per line, concluding with 0</label>
              <textarea name="lipVapSatTempVal" id="lipVapSatTempVal" ></textarea>
            </div>
            <div id="lipVapSatPres" slot="Specify Liq-vap Saturation PRES(bars) Values (3)">
              <label for="lipVapSatPresVal">Specify liq-vap saturation PRES (bars) values: <br/>
                One per line, concluding with 0</label>
              <textarea name="lipVapSatPresVal" id="lipVapSatPresVal" ></textarea>
            </div>
            <br/><br/>
            <div id="lipVapSatPres" slot="Reaction">
              <label for="reaction">Insert reactions here, 1 species per line, empty line between reactions  <br/>
              Numbers are the stoichiometric coefficient of the species. <br/>
              Positive numbers are products and negative numbers are reactants, e.g. <br/>
              QUARTZ => SiO2,aq: <br/>
              <code>
              -1 QUARTZ <br/>
              1 SiO2,aq
              </code>
              </label>
              <textarea rows="15" name="reaction" id="reaction" required style="width:200px;"></textarea>
            </div>
            <br/><br/>
            <!-- TODO: what input does this match? -->
            <div id="kalFormat">
              <label for="kalFormatOption">Specify option for x-y plot files:</label>
              <input type="radio" name="kalFormatOption" value="0" required>Do not generate plot files</input> <br/>
              <input type="radio" name="kalFormatOption" value="1">Generate plot files in generic format</input>
            </div>
            <br/><br/>
          </adpf-experiment-editor>
        </div>
    </main>
</div>
{% endblock content %}

{% block scripts %}
{% comment %} {% render_bundle 'chunk-vendors' 'js' 'WORKSPACE' %} {% endcomment %}
<script src="{% static 'django_airavata_workspace/wc/adpf.chunk-vendors.js' %}"></script>
{% comment %} {% render_bundle 'chunk-common' 'js' 'WORKSPACE' %} {% endcomment %}
{% comment %} {% render_bundle 'adpf' 'js' 'WORKSPACE' %} {% endcomment %}
<script src="{% static 'django_airavata_workspace/wc/adpf.min.js' %}"></script>
<script>
document.getElementById("experiment-editor").addEventListener('loaded', e => {
  const [experiment] = e.detail;
  for (const input of experiment.experimentInputs) {
    // TODO: just iterate over the slotted inputs
    const inputEl = document.querySelector(`[name="input:${input.name}"]`)
    if (!inputEl) {
      console.warn("Could not find input editor for ", input);
    } else {
      if (inputEl.type === 'radio') {
        const radios = document.querySelectorAll(`[name="input:${input.name}"]`);
        for (const radio of radios) {
          if (radio.value === input.value) {
            // Have to set value with setAttribute so it is part of the DOM
            // since the slot content doesn't appear to get added to the custom
            // element until later. Setting as a property doesn't work.
            radio.setAttribute("checked", "checked");
            break;
          }
        }
      } else if (inputEl.type === 'text') {
        inputEl.setAttribute("value", input.value);
      }
    }
  }
});
function validateExperiment(event) {
  const [experiment] = event.detail;
  // This works, can check the current values of all inputs
  if (experiment.experimentInputs[0].value === "Valcustom3") {
    console.log('save: preventing default');
    event.preventDefault();
  }
}
document.getElementById('experiment-editor').addEventListener('save', validateExperiment);
</script>
{% endblock %}
