{% extends 'base.html' %}

{% block content %}

<main class="main-content">
<div class="container">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reset Password</h5>
          {% include "./partials/messages.html" %}
          {% url 'django_airavata_auth:reset_password' code as form_url %}
          {% include "./partials/form.html" with form=form url=form_url submit_text="Reset Password" %}
        </div>
      </div>
    </div>
  </div>
</div>
</main>

{% endblock %}
