/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

/app/storage/cache
/app/storage/logs
/app/storage/sessions
/app/storage/views
/app/storage/meta
/themes

.idea
.iws
workspace.xml
tasks.xml
