{% load static %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ title|default:"Log in with your existing organizational login" }}</h5>
                {% for external in options.external %}
                <a
                {% if next %}
                    href="{% url 'django_airavata_auth:redirect_login' external.idp_alias %}?next={{ next | urlencode }}"
                {% elif login_desktop %}
                    href="{% url 'django_airavata_auth:redirect_login' external.idp_alias %}?login_desktop=true{% if show_code %}&show-code=true{% endif %}{% if download_code %}&download-code=true{% endif %}"
                {% else %}
                    href="{% url 'django_airavata_auth:redirect_login' external.idp_alias %}"
                {% endif %}
                    class="btn btn-primary btn-block mt-3">
                  {% if external.logo %}
                  <img src="{% static external.logo %}"/>
                  {% endif %}
                        Sign in with {{ external.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
