{% load static %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                  Log in with {{ options.password.name|default:"a username and password" }}
                  <small class="ml-2 text-muted">
                    (Not registered? <a href="{{ create_account_url }}">Create Account</a>)
                  </small>
                </h5>
                {% include "./messages.html" %}
                <form action="{% url 'django_airavata_auth:handle_login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ username }}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <small class="form-text text-muted"><a href="{% url 'django_airavata_auth:forgot_password' %}" class="text-reset">Forgot your password?</a></small>
                    </div>
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    {% endif %}
                    {% if login_type and login_type == 'password' %}
                    <input type="hidden" name="login_type" value="{{ login_type }}"/>
                    {% endif %}
                    {% if login_desktop %}
                    <input type="hidden" name="login_desktop" value="true"/>
                    {% endif %}
                    {% if show_code %}
                    <input type="hidden" name="show-code" value="true"/>
                    {% endif %}
                    {% if download_code %}
                    <input type="hidden" name="download-code" value="true"/>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">
                      {% if options.password.logo %}
                      <img src="{% static options.password.logo %}"/>
                      {% endif %}
                        Sign in with {{ options.password.name|default:"a username and password" }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
