{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel=stylesheet type=text/css href="{% static 'django_airavata_workspace/dist/common.css' %}">
{% endblock %}

{% block nav-items %}

        <a href="{% url 'django_airavata_groups:manage' %}" class="c-nav__item {% if request.active_nav_item == 'Groups' %}is-active{% endif %}" data-toggle=tooltip data-placement=right title=Groups>
            <i class="fa fa-users"></i> <span class=sr-only>Groups</span>
        </a>
        
{% endblock %}

{% block scripts %}
<script src="{% static "django_airavata_workspace/dist/common.js" %}"></script>
{% endblock %}
