{% extends 'base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block css %}
{% render_bundle 'vendor' 'css' 'GROUPS' %}
{% render_bundle bundle_name 'css' 'GROUPS' %}
{% endblock %}

{% block nav-items %}

        <a href="{% url 'django_airavata_groups:manage' %}" class="c-nav__item {% if request.active_nav_item == 'manage' %}is-active{% endif %}" data-toggle=tooltip data-placement=right title=Groups>
            <i class="fa fa-users"></i> <span class=sr-only>Groups</span>
        </a>

{% endblock %}

{% block content %}
<div id="{{ bundle_name }}"/>
{% endblock content %}

{% block scripts %}
{% render_bundle 'vendor' 'js' 'GROUPS' %}
{% render_bundle bundle_name 'js' 'GROUPS' %}
{% endblock %}
