{% extends 'base.html' %}

{% block content %}

<h1 align="center">Create a Group</h1>
<br>
{% block body %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-12">
            <h3>Enter Group Details</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-lg" type="submit" role="button">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
    <p><a class="btn btn-primary btn-lg" href="{% url 'django_airavata_auth:login' %}" role="button">Login »</a></p>
    {% endif %}
</div>
{% endblock %}

{% endblock content %}
