{% extends 'base.html' %}

{% block content %}

<h1 align="center">List of Groups</h1>

<div class="jumbotron">
    <div class="container">
        {% if user.is_authenticated %}
        <ul>
            {% for group in list  %}
                <li>{{ group.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p><a class="btn btn-primary btn-lg" href="{% url 'django_airavata_auth:login' %}" role="button">Login »</a></p>
        {% endif %}
    </div>
</div>

{% endblock content %}
