*.pyc
*.sqlite3
settings_local.py
settings_local*.py
.DS_Store
node_modules
.idea/
dist/
ENV
venv/
.vscode/
jsconfig.json
airavata_django_portal.egg-info
# AIRAVATA-2951 package-lock.json files cause the build to fail when deploying to server
package-lock.json
# mkdocs
site/
