# Pin these dependencies
Django==2.2.23
requests==2.23.0
requests-oauthlib==0.7.0
thrift==0.10.0
thrift_connector==0.24
djangorestframework==3.11.2
django-webpack-loader==0.6.0

wagtail==2.11.7
wagtailfontawesome==1.2.1
wagtail-draftail-anchors==0.2.0

jupyter==1.0.0
papermill==1.0.1

airavata-django-portal-sdk==1.0

-e git+https://github.com/apache/airavata.git@develop#egg=airavata-python-sdk&subdirectory=airavata-api/airavata-client-sdks/airavata-python-sdk
-e "."
