.CodeMirror {
    height: auto;
    min-height: 600px;
}

.user-storage-file-edit-viewer-status {
    display: flex;
    padding-bottom: 10px;
}

.user-storage-file-edit-viewer-status .user-storage-file-edit-viewer-status-message {
    flex: 1;
    color: #919191;
    font-size: 14px;
}
