.CodeMirror {
    height: auto;
    min-height: 600px;
}

.user-storage-file-edit-viewer-status {
    display: flex;
    padding-bottom: 10px;
}

.user-storage-file-edit-viewer-status .user-storage-file-edit-viewer-status-message {
    flex: 1;
    color: #919191;
    font-size: 14px;
}

.user-storage-file-edit-viewer-status .user-storage-file-edit-viewer-status-actions button,
.user-storage-file-edit-viewer-status .user-storage-file-edit-viewer-status-actions a {
    margin-right: 3px;
    margin-left: 3px;
}

.user-storage-file-edit-viewer-no-preview {
    font-size: 36px;
    color: #c0c4c7;
    text-align: center;
    padding: 20px;
}
