
#mainheader {
    height: 84px;
    position: relative;
}
#mainheader .logo {
    max-height: 100%;
    background-color: #3D84A8;
    vertical-align: top;
}
#mainheader > * {
    display: inline-block;
}
#mainheader header {
    margin-left: 40px;
    margin-right: 40px;
}
#mainheader h1 {
    font-size: 20px;
    color: #666666;
    line-height: 84px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#user-nav {
    top: 50%;
    margin-top: -25px;
    right: 0px;
    position: absolute;
}