#
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

---
- name: Install httpd (CentOS)
  yum: name="httpd" state=latest update_cache=yes
  become: yes
  when: ansible_distribution == "CentOS"

- name: Install httpd (Rocky)
  dnf: name="httpd"
  become: yes
  when: ansible_distribution == "Rocky"

- name: Install Apache2 (Ubuntu/Debian)
  apt:
    name: apache2
    state: present
    update_cache: yes
  become: yes
  when: ansible_os_family == "Debian"

- name: Enable Apache2 required modules (Ubuntu/Debian)
  shell: |
    a2enmod proxy
    a2enmod proxy_http
    a2enmod ssl
    a2enmod rewrite
    a2enmod headers
  become: yes
  when: ansible_os_family == "Debian"
  ignore_errors: yes

- name: Install java (Keycloak uses system Java, already installed by java role)
  debug:
    msg: "Java is already installed by the java role. Keycloak will use {{ keycloak_java_home | default(java_home) }}"
  become: yes
  tags:
    - always

- name: set selinux to permissive
  selinux: state=permissive policy=targeted
  become: yes
  when: ansible_os_family == "RedHat"

- name: allow httpd to proxy to Keycloak process
  seboolean:
    name: httpd_can_network_connect
    state: yes
    persistent: yes
  become: yes
  when: ansible_os_family == "RedHat"

- name: Enable http/s service on public zone (for certbot verification)
  firewalld: service={{ item }} permanent=true state=enabled zone=public immediate=True
  with_items:
    - http
    - https
  become: yes

# TODO: it seems like a virtual host config of some type is needed for the following to work
- name: copy basic virtual host file so certbot can verify domain (RedHat)
  template: src="basic-vhost.conf.j2" dest=/etc/httpd/conf.d/basic-vhost.conf backup=yes
  become: yes
  when: ansible_os_family == "RedHat"

- name: copy basic virtual host file so certbot can verify domain (Ubuntu/Debian)
  template: src="basic-vhost.conf.j2" dest=/etc/apache2/sites-available/basic-vhost.conf backup=yes
  become: yes
  when: ansible_os_family == "Debian"

- name: Enable basic virtual host (Ubuntu/Debian)
  file:
    src: /etc/apache2/sites-available/basic-vhost.conf
    dest: /etc/apache2/sites-enabled/basic-vhost.conf
    state: link
  become: yes
  when: ansible_os_family == "Debian"

- name: start httpd (RedHat)
  service: name=httpd state=started enabled=yes
  become: yes
  when: ansible_os_family == "RedHat"

- name: start apache2 (Ubuntu/Debian)
  service: name=apache2 state=started enabled=yes
  become: yes
  when: ansible_os_family == "Debian"

- name: check if SSL certificate exists
  stat:
    path: "{{ keycloak_ssl_certificate_file }}"
  register: stat_ssl_cert_result
  become: yes

- name: generate certificate if it doesn't exist
  command: certbot --apache --non-interactive --agree-tos --email "{{ letsencrypt_email }}" -d {{ keycloak_vhost_servername }} certonly
  become: yes
  when: not stat_ssl_cert_result.stat.exists

- name: Add keycloak virtual host config that proxies to the keycloak server (RedHat)
  template: src="vhost.conf.j2" dest=/etc/httpd/conf.d/keycloak.conf backup=yes
  become: yes
  when: ansible_os_family == "RedHat"
  notify:
    - restart httpd

- name: Add keycloak virtual host config that proxies to the keycloak server (Ubuntu/Debian)
  template: src="vhost.conf.j2" dest=/etc/apache2/sites-available/keycloak.conf backup=yes
  become: yes
  when: ansible_os_family == "Debian"
  notify:
    - restart apache2

- name: Enable keycloak virtual host (Ubuntu/Debian)
  file:
    src: /etc/apache2/sites-available/keycloak.conf
    dest: /etc/apache2/sites-enabled/keycloak.conf
    state: link
  become: yes
  when: ansible_os_family == "Debian"

- name: Restart Apache2 to apply Keycloak virtual host (Ubuntu/Debian)
  service: name=apache2 state=reloaded enabled=yes
  become: yes
  when: ansible_os_family == "Debian"

# Download keycloak distribution
- name: Check if Keycloak is already installed
  stat:
    path: "{{user_home}}/{{ keycloak_install_dir }}/bin/standalone.sh"
  register: keycloak_installed
  become: true
  become_user: "{{ user }}"
  tags:
    - always

- name: Download Keycloak distribution
  shell: |
    cd /tmp && \
    (wget -q --no-check-certificate "{{ keycloak_downlaod_url }}" -O "{{ keycloak_install_dir }}.tar.gz" || \
     curl -k -L "{{ keycloak_downlaod_url }}" -o "{{ keycloak_install_dir }}.tar.gz") && \
    tar -xzf "{{ keycloak_install_dir }}.tar.gz" -C "{{ user_home }}" && \
    chown -R {{ user }}:{{ group }} "{{ user_home }}/{{ keycloak_install_dir }}" && \
    rm -f "/tmp/{{ keycloak_install_dir }}.tar.gz"
  args:
    creates: "{{user_home}}/{{ keycloak_install_dir }}/bin/standalone.sh"
  become: true
  become_user: root
  when: not keycloak_installed.stat.exists
  tags:
    - always

# <---------------------------- Setup Mysql database for keycloak ------------------->

# create folder structure
- file:
    path: "{{user_home}}/{{ keycloak_install_dir }}/modules/system/layers/keycloak/org/mysql/main"
    state: directory
    mode: 0755
  become: true
  become_user: "{{ user }}"
  tags:
       - always

- name: Check if MySQL connector JAR already exists
  stat:
    path: "{{user_home}}/{{ mysql_connector_dir_name }}/{{ keycloak_db_connector_name }}"
  register: mysql_connector_jar
  become: true
  become_user: "{{ user }}"
  tags:
    - always

- name: Download and unarchive mysql jdbc driver
  shell: |
    cd /tmp && \
    (wget -q --no-check-certificate "{{ mysql_db_connector_download_url }}" -O "{{ mysql_connector_archive_name }}" || \
     curl -k -L "{{ mysql_db_connector_download_url }}" -o "{{ mysql_connector_archive_name }}") && \
    tar -xzf "{{ mysql_connector_archive_name }}" -C "{{ user_home }}" && \
    chown -R {{ user }}:{{ group }} "{{ user_home }}/{{ mysql_connector_dir_name }}" && \
    rm -f "/tmp/{{ mysql_connector_archive_name }}"
  args:
    creates: "{{user_home}}/{{ mysql_connector_dir_name }}/{{ keycloak_db_connector_name }}"
  become: true
  become_user: root
  when: not mysql_connector_jar.stat.exists
  tags:
    - always

- name: move jdbc connector to keycloak module
  command: mv {{user_home}}/{{ mysql_connector_dir_name }}/{{ keycloak_db_connector_name }} {{user_home}}/{{ keycloak_install_dir }}/modules/system/layers/keycloak/org/mysql/main/
  become: true
  become_user: "{{ user }}"
  tags:
       - always

- name: copy jdbc module configuration file
  template: >
    src=module.j2
    dest="{{user_home}}/{{ keycloak_install_dir }}/modules/system/layers/keycloak/org/mysql/main/module.xml"
    owner="{{ user }}"
    group="{{ group }}"
    mode="u=rw,g=r,o=r"
  become: true
  become_user: "{{ user }}"
  tags:
       - always

# </---------------------------- Setup Mysql database for keycloak - END ------------------->

# <---------------------------- Server Configuration -------------------------------->

# Only Executed for standalone mode (SSL Configuration & MySql)
# Note: Keycloak 24.0.0+ uses Quarkus and doesn't use standalone.xml anymore
# Configuration is done via environment variables and command-line arguments
# This task is skipped for Keycloak 24.0.0+
- name: copy keycloak configuration file (Standalone) - Legacy versions only
  template: >
    src=standalone.xml.j2
    dest="{{ user_home }}/{{ keycloak_install_dir }}/standalone/configuration/standalone.xml"
    owner="{{ user }}"
    group="{{ group }}"
    mode="u=rw,g=r,o=r"
  become: true
  become_user: "{{ user }}"
  when: keycloak_version is not defined or keycloak_version.split('.')[0] | int < 24
  tags:
       - standalone

# </------------------------------ Server Configuration ends ---------------------------->

# <---------- setup init script for keycloak, starts the server after reboot ----------->

- name: Detect Java home if not already set (Ubuntu/Debian)
  shell: find /usr/lib/jvm -name java -type f -path "*/bin/java" 2>/dev/null | head -1 | xargs dirname | xargs dirname
  register: detected_java_home
  changed_when: false
  when: ansible_os_family == "Debian"

- name: Verify detected Java path exists
  stat:
    path: "{{ detected_java_home.stdout }}/bin/java"
  register: detected_java_path_check
  changed_when: false
  when: ansible_os_family == "Debian" and detected_java_home.stdout != ""

- name: Set detected Java home for Keycloak (Ubuntu/Debian)
  set_fact:
    keycloak_java_home: "{{ detected_java_home.stdout }}"
  when: ansible_os_family == "Debian" and detected_java_home.stdout != "" and (detected_java_path_check.stat.exists | default(false))

- name: Ensure Keycloak user can read Let's Encrypt certificates
  shell: |
    setfacl -m u:{{ user }}:r /etc/letsencrypt/live/{{ keycloak_vhost_servername }}/cert.pem
    setfacl -m u:{{ user }}:r /etc/letsencrypt/live/{{ keycloak_vhost_servername }}/privkey.pem
    setfacl -m u:{{ user }}:r /etc/letsencrypt/live/{{ keycloak_vhost_servername }}/fullchain.pem
  become: yes
  become_user: root
  when: ansible_os_family == "Debian"
  ignore_errors: yes

- name: Copy Keycloak certificates to user-accessible location (alternative if ACL fails)
  shell: |
    mkdir -p {{ user_home }}/keycloak-certs
    cp /etc/letsencrypt/live/{{ keycloak_vhost_servername }}/cert.pem {{ user_home }}/keycloak-certs/
    cp /etc/letsencrypt/live/{{ keycloak_vhost_servername }}/privkey.pem {{ user_home }}/keycloak-certs/
    chown -R {{ user }}:{{ group }} {{ user_home }}/keycloak-certs
    chmod 600 {{ user_home }}/keycloak-certs/*
  become: yes
  become_user: root
  when: ansible_os_family == "Debian"
  register: cert_copy_result

- name: Update Keycloak certificate paths to use user-accessible location
  set_fact:
    keycloak_ssl_certificate_file: "{{ user_home }}/keycloak-certs/cert.pem"
    keycloak_ssl_certificate_key_file: "{{ user_home }}/keycloak-certs/privkey.pem"
  when: ansible_os_family == "Debian" and cert_copy_result is succeeded

- name: copy keycloak.service systemd unit file
  template:
    src: "keycloak.service.j2"
    dest: "/etc/systemd/system/keycloak.service"
    backup: yes
  become: yes
  tags:
       - always


# </---------- setup init script for keycloak, starts the server after reboot ----------->

# <-------------------------Initialize a new admin for keycloak-------------------------->
# Note: Keycloak 24.0.0+ uses kc.sh and environment variables for admin setup
# The admin user is created on first start using KEYCLOAK_ADMIN and KEYCLOAK_ADMIN_PASSWORD
# For legacy versions (< 24.0.0), use add-user-keycloak.sh

- name: Add master realm admin account (Legacy versions)
  command: "{{user_home}}/{{ keycloak_install_dir }}/bin/add-user-keycloak.sh -r master -u {{ keycloak_master_account_username }} -p {{ keycloak_master_account_password }}"
  args:
    creates: "{{user_home}}/{{ keycloak_install_dir }}/standalone/configuration/keycloak-add-user.json"
  become: yes
  become_user: root
  when: keycloak_version is not defined or (keycloak_version | default('0.0.0')).split('.')[0] | int < 24
  tags:
    - always

- name: Note admin user creation for Keycloak 24
  debug:
    msg: "For Keycloak 24.0.0 and above, admin user will be created on first start via environment variables in systemd service"
  when: keycloak_version is defined and (keycloak_version.split('.')[0] | int >= 24)
  tags:
    - always


# <--------------------------start keycloak Identity server------------------------------>
- name: start/restart keycloak
  service:
    name: keycloak
    state: restarted
    enabled: yes
    daemon_reload: yes
  become: yes
  tags:
       - always
...
