#
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

---
- name: Install Airavata pre-requireties (CentOS)
  yum: name={{ item }} state=latest update_cache=yes
  with_items:
    - git
    - unzip
  become_user: root
  when: ansible_distribution == "CentOS"

- name: Install Airavata pre-requireties (Rocky)
  dnf: name={{ item }}
  with_items:
    - git
    - unzip
  become_user: root
  when: ansible_distribution == "Rocky"

- name: Install Airavata pre-requireties (Ubuntu/Debian)
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - git
    - build-essential
    - automake
    - bison
    - flex
    - libboost-all-dev
    - libevent-dev
    - libssl-dev
    - libtool
    - pkg-config
    - unzip
  become_user: root
  when: ansible_os_family == "Debian"

- name: Check if Maven archive already exists
  stat:
    path: "/opt/{{ apache_maven_version }}-bin.tar.gz"
  register: maven_archive
  become: yes

- name: download {{ apache_maven_version }}
  shell: |
    cd /tmp && \
    (wget -q --no-check-certificate "{{ apache_maven_url }}" -O "{{ apache_maven_version }}-bin.tar.gz" || \
     curl -k -L "{{ apache_maven_url }}" -o "{{ apache_maven_version }}-bin.tar.gz") && \
    mv "/tmp/{{ apache_maven_version }}-bin.tar.gz" "/opt/{{ apache_maven_version }}-bin.tar.gz"
  args:
    creates: "/opt/{{ apache_maven_version }}-bin.tar.gz"
  become: yes
  become_user: root
  when: not maven_archive.stat.exists

- name: unzip maven
  unarchive:
    src: /opt/{{ apache_maven_version }}-bin.tar.gz
    dest: /opt
    remote_src: yes
  become: yes
  become_user: root

- name: add maven to PATH
  template:
    src: maven.sh
    dest: /etc/profile.d/maven.sh
  become: yes
  become_user: root

- name: Check if Thrift is installed
  command: which thrift
  register: thrift_check
  changed_when: false
  failed_when: false
  become: no

- name: Download Thrift 0.22.0
  shell: |
    cd /tmp && \
    wget -q --no-check-certificate https://dlcdn.apache.org/thrift/0.22.0/thrift-0.22.0.tar.gz && \
    tar -xzf thrift-0.22.0.tar.gz
  args:
    creates: /tmp/thrift-0.22.0
  become: yes
  become_user: root
  when: thrift_check.rc != 0

- name: Build and install Thrift 0.22.0
  shell: |
    cd /tmp/thrift-0.22.0 && \
    ./configure --without-rs --enable-libs=no --enable-tests=no && \
    make -j$(nproc) && \
    make install && \
    ldconfig
  become: yes
  become_user: root
  when: thrift_check.rc != 0

- name: Verify Thrift installation
  command: thrift -version
  register: thrift_version
  changed_when: false
  become: no

- name: Display Thrift version
  debug:
    msg: "Thrift version: {{ thrift_version.stdout }}"

# Setup airavata source
- name: Create deployment directory {{ deployment_dir }}
  file: path={{ deployment_dir }} state=directory mode=0755

- name: Create source directory
  file: path={{airavata_source_dir}}
        state=directory
        mode=0755
        owner={{ user }}
        group={{ group }}

- name: git checkout from airavata github repo {{ airavata_git_repo }} branch {{ git_branch }}
  git: repo="{{ airavata_git_repo }}"
       dest="{{ airavata_source_dir }}"
       version="{{ git_branch }}"
  register: checkout
  tags: update

- name: Run maven build
  command: /opt/{{apache_maven_version}}/bin/mvn clean install -Dmaven.test.skip=true chdir="{{ airavata_source_dir }}/"
  environment:
      MAVEN_OPTS: "-Xmx2048m"
      PATH: "/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin:{{ ansible_env.PATH }}"
  register: build
  tags: update
  # when: (checkout|success) and (checkout.changed == true)

