
{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel=stylesheet type=text/css href="{% static 'django_airavata_dataparsers/dist/common.css' %}">
{% endblock %}

{% block nav-items %}

        <a href="{% url 'django_airavata_dataparsers:home' %}"
            class="c-nav__item {% if request.active_nav_item == 'home' %}is-active{% endif %}"
            data-toggle=tooltip data-placement=right title="Home">
            <i class="fa fa-home"></i> <span class=sr-only>Home</span>
        </a>
{% endblock %}

{% block scripts %}
<script src="{% static "django_airavata_dataparsers/dist/common.js" %}"></script>
{% endblock %}
