# 
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
# 
#   http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
# 

module my-tusd 1.0;

require {
        type user_home_t;
        type init_t;
        type httpd_sys_rw_content_t;
        class file { append create execute execute_no_trans link map open read unlink write };
        class dir { add_name remove_name };
}

#============= init_t ==============
allow init_t httpd_sys_rw_content_t:dir { add_name remove_name };
allow init_t httpd_sys_rw_content_t:file { append create link open read unlink write };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow init_t user_home_t:file map;

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:file { execute execute_no_trans open read };
