##################################################################
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
################################################################

jobSubmitters:
  - submissionProtocol: SSH
    taskClass: org.apache.airavata.gfac.impl.task.DefaultJobSubmissionTask
#   properties:
#     - userName: airavata
#       passPhrase: airavata
#       privateKey: /path/to/the/privatekey
#       publicKey: /path/to/the/publickey
#       hostName: remote.client.hostName

  - submissionProtocol: SSH_FORK
    taskClass: org.apache.airavata.gfac.impl.task.ForkJobSubmissionTask

  - submissionProtocol: LOCAL
    taskClass: org.apache.airavata.gfac.impl.task.DefaultJobSubmissionTask

# Following job subbmitters are not yet implemented.

 # - submissionProtocol: GSISSH
 #   taskClass: org.apache.airavata.task.adapters.GSISSHJobSubmissionTask
commonTasks:
   - type: SETUP
     taskClass: org.apache.airavata.task.common.SetupTask

   - type: CLEANUP
     taskClass: org.apache.airavata.task.common.CleanupTask

fileTransferTasks:
#  - transferProtocol: SCP
#    taskClass: org.apache.airavata.gfac.impl.task.DataStageTask

# If your client doen't run the same instance where airavata server is running then you need to comment above
# DataStageTask and uncomment SCPDataStageTask. To work with SCPDataStageTask, you either need to
# provide ssh keys or password.

  - transferProtocol: SCP
    taskClass: org.apache.airavata.gfac.impl.task.SCPDataStageTask
    properties:
     - userName: root
       passPhrase: ultrascan 
       privateKeyPath: /home/airavata/.ssh/id_rsa
       publicKeyPath: /home/airavata/.ssh/id_rsa.pub
       hostName: gw75.iu.xsede.org 
       inputPath: /var/www/portal/experimentData/
#      password: password

# Following transfer tasks are not yet implemented.
  #- transferProtocol: SFTP
  #  taskClass: org.apache.airavata.task.adapters.SFTPFileTransferTask

  #- transferProtocol: GRIDFTP
  #  taskClass: org.apache.airavata.task.adapters.GRIDFTPFileTransferTask

  #- transferProtocol: LOCAL
  #  taskClass: org.apache.airavata.task.adapters.LocalFileTransferTask

resources:
  - jobManagerType: PBS
    commandOutputParser: org.apache.airavata.gfac.impl.job.PBSOutputParser
    emailParser: org.apache.airavata.gfac.monitor.email.parser.PBSEmailParser
    resourceEmailAddresses:
      - pbsconsult@sdsc.edu  # gordon
      - adm@trident.bigred2.uits.iu.edu # Bigred2
      - root <adm@trident.bigred2.uits.iu.edu> # Bigred2
      - root <adm@scyld.localdomain> # alamo
      - root <adm@m2.karst.uits.iu.edu> #karst
      - root <adm@m1.mason.indiana.edu> #mason
      - smic3 <smic@mail.hpc.lsu.edu> # philip.hpc.lsu
      - adm@jetstream-cloud.org

  - jobManagerType: SLURM
    commandOutputParser: org.apache.airavata.gfac.impl.job.SlurmOutputParser
    emailParser: org.apache.airavata.gfac.monitor.email.parser.SLURMEmailParser
    resourceEmailAddresses:
      - SDSC Admin <slurm@comet-fe3.sdsc.edu> # comet
      - slurm@batch1.stampede.tacc.utexas.edu # stampede
      - SDSC Admin <slurm@comet-fe4.sdsc.edu> # comet new
      - slurm@comet-fe4.sdsc.edu
      - Slurm <slurm@psc.edu> # bridges
      - Slurm Daemon <slurm@odin.oscer.ou.edu> # OU Schooner
      - slurm@lnet28.stampede.tacc.utexas.edu # stampede2
      - Slurm service account <slurm@chpc.utah.edu> # Utah Ember
      - SLURM workload manager <slurm@jetstream.chemcompute.org> # JS Mark Cluster
      - root@master.ls5.tacc.utexas.edu
      - batch-jsc@fz-juelich.de # Jureca Email
      - Slurm <slurm@br003.pvt.bridges.psc.edu>
      - slurm@jetstream-cloud.org
      - slurm@slurm-example.novalocal
      - slurm@tutorial-headnode.novalocal # Jetstream Ultrascan static cluster with 10 nodes
      - slurm@batch1.stampede2.tacc.utexas.edu #Stampede2
      - slurm@sra-master.jetstreamlocal #Searching SRA

  - jobManagerType: UGE
    commandOutputParser: org.apache.airavata.gfac.impl.job.UGEOutputParser
    emailParser: org.apache.airavata.gfac.monitor.email.parser.UGEEmailParser
    resourceEmailAddresses:
      - ls4.tacc.utexas.edu # contain Lonestar
      - root <root@local> # USD HPC Cluster
      - root <littledog@siu.edu> # SIU Little Dog
      - sge@bigdog.research.siu.edu # SIU Big Dog
      - root <root@legacy.usd.edu> # USD HPC Cluster


  - jobManagerType: LSF
    commandOutputParser: org.apache.airavata.gfac.impl.job.LSFOutputParser
    emailParser: org.apache.airavata.gfac.monitor.email.parser.LSFEmailParser
    resourceEmailAddresses:
      - iu.xsede.edu # test resource mail address
      - tcs.tulsahpc.org #Tandy

  - jobManagerType: FORK
    commandOutputParser: org.apache.airavata.gfac.impl.job.ForkOutputParser
