#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# The myproxy server to retrieve the grid credentials
myproxy.server=
# Example: XSEDE myproxy server
#myproxy.server=myproxy.teragrid.org

# The user name and password to fetch grid proxy
myproxy.username=
myproxy.password=

#Directory with Grid Certification Authority certificates and CRL's
# The certificates for XSEDE can be downloaded from http://software.xsede.org/security/xsede-certs.tar.gz
ca.certificates.directory=

# On computational grids, an allocation is awarded with a charge number. On XSEDE, the numbers are typically of
#  the format TG-DIS123456
allocation.charge.number=

# The scratch space with ample space to create temporary working directory on target compute cluster
scratch.working.directory=

# Name, FQDN, and gram and gridftp end points of the remote compute cluster 
host.commom.name=
host.fqdn.name=
gridftp.endpoint=
gram.endpoints=
defualt.queue=

# Example compute hosts on XSEDE 
#host.commom.name=Ranger
#host.fqdn.name=ranger.tacc.teragrid.org
#gridftp.endpoint=gsiftp://gridftp.ranger.tacc.teragrid.org:2811/
#gram.endpoints=gatekeeper.ranger.tacc.teragrid.org:2119/jobmanager-sge
#defualt.queue=

#host.commom.name=Lonestar
#host.fqdn.name=lonestar4.tacc.teragrid.org
#gridftp.endpoint=gsiftp://gridftp1.ls4.tacc.utexas.edu:2811/
#gram.endpoints=gridftp1.ls4.tacc.utexas.edu:2119/jobmanager-sge
#defualt.queue=

#host.commom.name=Trestles
#host.fqdn.name=trestles.sdsc.teragrid.org
#gridftp.endpoint=gsiftp://trestles.sdsc.edu:2811/
#gram.endpoints=trestles.sdsc.edu:2119/jobmanager-pbs
#defualt.queue=

#host.commom.name=Ember
#host.fqdn.name=ember.ncsa.teragrid.org
#gridftp.endpoint=grid-ember.ncsa.teragrid.org:2811/
#gram.endpoints=grid-ember.ncsa.teragrid.org:2120/jobmanager-pbs
#defualt.queue=normal
