# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

###########################################################################
#  Registry Server Configurations
###########################################################################
api.server.host={{ registry_host }}
api.server.port={{ registry_port }}

###########################################################################
# Credential Store module Configuration
###########################################################################
security.manager.class=org.apache.airavata.service.security.KeyCloakSecurityManager

###########################################################################
# Profile Server Configuration
###########################################################################

###########################################################################
# Monitoring module Configuration
###########################################################################
monitor.email.host={{ monitor_email_host }}
monitor.email.address={{ monitor_email_address }}
monitor.email.password={{ monitor_email_password }}
job.notification.emailids=
job.notification.enabled=true

###########################################################################
# Helix workflow manager configurations
###########################################################################
helix.cluster.name={{ helix_cluster_name }}
helix.participant.name={{ helix_participant_name }}
job.notification.publish.endpoint={{ job_status_publish_endpoint }}

###########################################################################
# AMQP Notification Configuration
###########################################################################
#for simple scenarios we can use the guest user
#rabbitmq.broker.url=amqp://localhost:5672
#for production scenarios, give url as amqp://userName:password@hostName:portNumber/virtualHost, create user, virtualhost
# and give permissions, refer: http://blog.dtzq.com/2012/06/rabbitmq-users-and-virtual-hosts.html
rabbitmq.broker.url={{ rabbitmq_broker_url }}
rabbitmq.status.exchange.name=status_exchange
rabbitmq.process.exchange.name=process_exchange
rabbitmq.experiment.exchange.name=experiment_exchange
rabbitmq.durable.queue=false
rabbitmq.prefetch.count=200

###########################################################################
# Zookeeper Server Configuration
###########################################################################
zookeeper.server.connection={{ zookeeper_connection_url }}

###########################################################################
# Data Parser Configurations
###########################################################################
kafka.broker.url={{ parser_broker_url }}
data.parser.topic={{ parser_broker_topic }}
data.parser.broker.publisher.id={{ parser_broker_publisher_id }}

###########################################################################
# Job Submission Task Level Configurations
###########################################################################
monitor.job.realtime.enabled=true

data.local.path={{ local_data_location }}

###########################################################################
# Data Parsing Task Level Configurations
###########################################################################
data.parser.delete.container=True

###########################################################################
# Data Staging Task Level Configurations
###########################################################################
data.streaming.enabled=False
max.archive.size={{ max_archive_size }}

###########################################################################
# ThriftClientPool Configuration
###########################################################################
thrift.client.pool.abandoned.removal.enabled={{ thrift_client_pool_abandoned_removal_enabled }}
thrift.client.pool.abandoned.removal.logged={{ thrift_client_pool_abandoned_removal_logged }}

###########################################################################
# Platform Monitoring Configuration
###########################################################################
monitor.prometheus.enabled={{ monitoring_enabled }}
monitor.prometheus.host={{ monitoring_host }}
monitor.prometheus.port={{ monitoring_port }}