# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

###########################################################################
#  Registry Server Configurations
###########################################################################
regserver.server.host={{ registry_host }}
regserver.server.port={{ registry_port }}

###########################################################################
# Credential Store module Configuration
###########################################################################
credential.store.server.host={{ cred_store_server_host }}
credential.store.server.port={{ cred_store_port }}
security.manager.class=org.apache.airavata.service.security.KeyCloakSecurityManager

###########################################################################
# Profile Server Configuration
###########################################################################
profile.service.server.host={{ profile_service_host }}
profile.service.server.port={{ profile_service_port }}

###########################################################################
# Monitoring module Configuration
###########################################################################
email.based.monitor.address={{ monitor_email_address }}
job.notification.emailids=
job.notification.enable=true

###########################################################################
# Helix workflow manager configurations
###########################################################################
helix.cluster.name={{ helix_cluster_name }}
helix.participant.name={{ helix_participant_name }}
job.status.publish.endpoint={{ job_status_publish_endpoint }}

###########################################################################
# AMQP Notification Configuration
###########################################################################
#for simple scenarios we can use the guest user
#rabbitmq.broker.url=amqp://localhost:5672
#for production scenarios, give url as amqp://userName:password@hostName:portNumber/virtualHost, create user, virtualhost
# and give permissions, refer: http://blog.dtzq.com/2012/06/rabbitmq-users-and-virtual-hosts.html
rabbitmq.broker.url={{ rabbitmq_broker_url }}
rabbitmq.status.exchange.name=status_exchange
rabbitmq.process.exchange.name=process_exchange
rabbitmq.experiment.exchange.name=experiment_exchange
durable.queue=false
prefetch.count=200
process.launch.queue.name=process.launch.queue
experiment.launch..queue.name=experiment.launch.queue

###########################################################################
# Zookeeper Server Configuration
###########################################################################
zookeeper.server.connection={{ zookeeper_connection_url }}
zookeeper.timeout=30000

###########################################################################
# Data Parser Configurations
###########################################################################
kafka.parsing.broker.url={{ parser_broker_url }}
kafka.parser.topic={{ parser_broker_topic }}
kafka.parsing.broker.publisher.id={{ parser_broker_publisher_id }}

###########################################################################
# Job Submission Task Level Configurations
###########################################################################
enable.realtime.monitor=true

local.data.location={{ local_data_location }}

###########################################################################
# Data Parsing Task Level Configurations
###########################################################################
data.parser.delete.container=True

###########################################################################
# Data Staging Task Level Configurations
###########################################################################
enable.streaming.transfer=False
max.archive.size={{ max_archive_size }}

###########################################################################
# ThriftClientPool Configuration
###########################################################################
thrift.client.pool.abandoned.removal.enabled={{ thrift_client_pool_abandoned_removal_enabled }}
thrift.client.pool.abandoned.removal.logged={{ thrift_client_pool_abandoned_removal_logged }}

###########################################################################
# Usage Reporting Configuration
###########################################################################

usage.reporting.key={{ usage_reporting_key }}
usage.reporting.endpoint=https://xsede-xdcdb-api.xsede.org/gateway/v2/job_attributes

###########################################################################
# Platform Monitoring Configuration
###########################################################################
participant.monitoring.enabled={{ participant_monitoring_enabled }}
participant.monitoring.host={{ participant_monitoring_host }}
participant.monitoring.port={{ participant_monitoring_port }}