<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airavata Sample Gateway</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" href="#">Web Console</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/experiment']">Experiments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/compute']">Compute Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dep']">App Deployments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/module']">App Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/iface']">App Interfaces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/setup']">Setup</a>
      </li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>

</body>
</html>
