##
## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
##

<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+"
   codebase="$jnlpURLPrefix/"
   href="$outputFile">
<information>
	<title>XBaya</title>
	<vendor>Open Gateway Computing Environments</vendor>
	<offline-allowed/>
</information>
<security>
	<all-permissions/>
</security>
<resources>
	<j2se version="1.5+" java-vm-args="-Xmx1024m" />
	<property name="log" value="org.apache.airavata.xbaya:ALL"/>
	$dependencies
</resources>
<application-desc main-class="$mainClass">
	<!-- Title -->
	<argument>-title</argument>
	<argument>OGCE XBaya Workflow Interface</argument>
	
	<!-- MyProxy -->
	<argument>-myProxyServer</argument>
	<argument>$myproxyServer</argument>
	<argument>-myProxyPort</argument>
	<argument>7512</argument>
	<argument>-myProxyLifetime</argument>
	<argument>3600</argument>
	<argument>-myProxyUsername</argument>
	<argument>username</argument>
	
	<!-- XRegistry -->
	<argument>-xRegistryURL</argument>
	<argument>$xregistryEPR</argument>

	<!-- GFac -->
	<argument>-gfacURL</argument>
	<argument>$gfacEPR</argument>
	
	<!-- Monitoring -->
	<argument>-brokerURL</argument>
	<argument>$messagebrokerEPR</argument>
	<argument>-pullMode</argument>
	<argument>true</argument>
	<argument>-messageBoxURL</argument>
	<argument>$messageboxEPR</argument>

	<!-- Start monitoring -->
	<!--
	<argument>-topic</argument>
	<argument>topicName</argument>
	<argument>-startMonitor</argument>
	-->

</application-desc>
</jnlp>
