api.server.host={{ api_server_host }}
api.server.port={{ api_server_tls_port }}
database.host={{ db_server }}
database.port={{ db_server_port }}
helix.cluster.name={{ helix_cluster_name }}
helix.participant.name={{ helix_participant_name }}
zookeeper.server.connection={{ zookeeper_connection_url }}
sender.email.account={{ platform_monitor_email_address }}
sender.email.password={{ platform_monitor_email_password }}
target.email.accounts={{ platform_monitor_target_email_addresses }}
platform.name={{ platform_name }}
platform_monitor_interval_minutes={{ platform_monitor_interval_minutes }}
platform_mock_workflow_timeout_ms={{ platform_mock_workflow_timeout_ms }}