#
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# {{ansible_managed}}

[Unit]
Description=Keycloak

[Service]
Environment="JAVA_HOME={{ keycloak_java_home }}"
{% if keycloak_version is not defined or keycloak_version.split('.')[0] | int >= 24 %}
# Keycloak 24.0.0+ uses environment variables for admin user creation
Environment="KEYCLOAK_ADMIN={{ keycloak_master_account_username }}"
Environment="KEYCLOAK_ADMIN_PASSWORD={{ keycloak_master_account_password }}"
{% endif %}
ExecStart={{ user_home }}/{{ keycloak_install_dir }}/bin/kc.sh start --optimized --hostname={{ keycloak_vhost_servername }} --hostname-strict=false --proxy=edge --http-enabled=false --https-certificate-file={{ keycloak_ssl_certificate_file }} --https-certificate-key-file={{ keycloak_ssl_certificate_key_file }} --https-port=8443
WorkingDirectory={{ user_home }}/{{ keycloak_install_dir }}
User={{user}}
Group={{group}}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
