# {{ansible_managed}}

[Unit]
Description=Kafka
Before=
After=network.target

[Service]
Environment="LOG_DIR={{ deployment_dir }}/{{ kafka_symlink_name }}/logs"
ExecStart={{ deployment_dir }}/{{ kafka_symlink_name }}/bin/kafka-server-start {{ deployment_dir }}/{{ kafka_symlink_name }}/etc/kafka/server.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target