# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#These properties will be used to enable email based monitoring
email.based.monitor.host=imap.gmail.com
email.based.monitor.address={{ monitor_email_address }}
email.based.monitor.password={{ monitor_email_password }}
email.based.monitor.folder.name=INBOX
# either imaps or pop3
email.based.monitor.store.protocol=imaps
#These property will be used to query the email server periodically. value in milliseconds(ms).
email.based.monitoring.period=10000

#These properties will be used to published parsed email messages to job monitor queue
job.monitor.broker.url={{ job_monitor_broker_url }}
job.monitor.broker.topic={{ job_monitor_broker_topic }}
job.monitor.broker.publisher.id={{ email_job_monitor_broker_publisher }}

zookeeper.server.connection={{ zookeeper_connection_url }}
zookeeper.timeout=30000
email.expiration.minutes=60

###########################################################################
#  Registry Server Configurations
###########################################################################
regserver.server.host={{ registry_host }}
regserver.server.port={{ registry_port }}

###########################################################################
# ThriftClientPool Configuration
###########################################################################
thrift.client.pool.abandoned.removal.enabled={{ thrift_client_pool_abandoned_removal_enabled }}
thrift.client.pool.abandoned.removal.logged={{ thrift_client_pool_abandoned_removal_logged }}
