# dependencies
node_modules

# next.js build output
.next
out

# env files (never commit secrets)
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
