<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
      <listener-class>org.apache.airavata.services.registry.rest.utils.RegistryListener</listener-class>
    </listener>
     <!--context-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/classes/service.properties</param-value>
    </context-param-->
    <servlet>
        <servlet-name>Airavata Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.apache.airavata.services.registry.rest;org.codehaus.jackson.jaxrs</param-value>
        </init-param>
        <!--init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>org.apache.airavata.services.registry.rest.security.AuthenticationFilter</param-value>
        </init-param-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Airavata Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
