<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ Licensed to the Apache Software Foundation (ASF) under one ~ or more
    contributor license agreements. See the NOTICE file ~ distributed with this
    work for additional information ~ regarding copyright ownership. The ASF
    licenses this file ~ to you under the Apache License, Version 2.0 (the ~
    "License"); you may not use this file except in compliance ~ with the License.
    You may obtain a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0
    ~ ~ Unless required by applicable law or agreed to in writing, ~ software
    distributed under the License is distributed on an ~ "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY ~ KIND, either express or implied. See the
    License for the ~ specific language governing permissions and limitations
    ~ under the License. -->

<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <listener>
        <listener-class>org.apache.airavata.credential.store.servlet.CredentialBootstrapper</listener-class>
    </listener>

    <context-param>
        <param-name>oa4mp:client.config.file</param-name>
        <param-value>${catalina.home}/webapps/credential-store/WEB-INF/classes/credential-store/client.xml</param-value>
    </context-param>

    <!-- Credential store parameters -->
    <context-param>
        <param-name>credential-store-jdbc-url</param-name>
        <param-value>jdbc:mysql://localhost/airavata</param-value>
    </context-param>

    <context-param>
        <param-name>credential-store-db-user</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>credential-store-db-password</param-name>
        <param-value>root123</param-value>
    </context-param>

    <context-param>
        <param-name>credential-store-db-driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>

    <!-- ========================= Security Related Configurations go here ================================== -->

    <filter>
        <filter-name>CORS Filter</filter-name>
        <filter-class>org.ebaysf.web.cors.CORSFilter</filter-class>
        <init-param>
            <description>A comma separated list of allowed origins. Note: An '*' cannot be used for an allowed origin when using credentials.</description>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cors.logging.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>1800</param-value>
        </init-param>
        <init-param>
            <param-name>cors.request.decorate</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CORS Filter</filter-name>
        <url-pattern>/user-store/*</url-pattern>
    </filter-mapping>

    <!-- ================================ End Security Related Configurations =============================== -->

    <!-- Credential Store Configurations -->
    <servlet>
        <servlet-name>credential-store-start</servlet-name>
        <!--internal name of the servlet-->
        <servlet-class>org.apache.airavata.credential.store.servlet.CredentialStoreStartServlet</servlet-class>

        <load-on-startup>1</load-on-startup>
        <!--load as soon as tomcat starts?-->
    </servlet>

    <servlet-mapping>
        <servlet-name>credential-store-start</servlet-name>
        <!--the servlet-name above-->
        <url-pattern>/acs-start-servlet</url-pattern>
        <!--what needs to be in the url, so http://foo.org/client/simple-->
    </servlet-mapping>

    <servlet>
        <servlet-name>callback</servlet-name>
        <!--internal name of the servlet-->
        <servlet-class>org.apache.airavata.credential.store.servlet.CredentialStoreCallbackServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--load as soon as tomcat starts?-->
    </servlet>

    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <!--the servlet-name above-->
        <url-pattern>/callback</url-pattern>
        <!--what needs to be in the url, so http://foo.org/client/simple-->
    </servlet-mapping>
</web-app>