<footer class="theme-footer custom-class">
  <footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/CollegeOrUniversity">
      <div class="row pad">

          <p class="tagline">Fulfilling <span>the</span> Promise</p>

          <p class="signature col-md-2" style="padding-left: 15%;">
              <a href="https://www.iu.edu" class="signature-link" >Indiana University</a>
          </p>

          <p class="copyright col-md-5">
              <a href="https://www.iu.edu/copyright/index.html">Copyright</a> © 2017 <span class="line-break-small">{{self.footer_links}}</span>
          </p>
      </div>
  </footer>
</footer>
