{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Django Airavata Gateway{% endblock %}</title>

    <!-- Bootstrap -->
    {% block css %}
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

  </head>
  <body>
    {% block mainheader %}
        <div id="mainheader">
            <img class="logo" src="{% static 'images/airavata-logo.png' %}">
            <header>
                <h1>Django Airavata Gateway</h1>
            </header>
            {% if user.is_authenticated %}
            <ul id="user-nav" class="nav navbar-nav">
                <li class="dropdown">
                    {# TODO: abstract out the first name, last name with context processor #}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{{ user.username }}">
                        {{ request.session.USERINFO.given_name }} {{ request.session.USERINFO.family_name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'django_airavata_auth:logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    {% endblock mainheader %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>
</html>