{% load static %}
<!DOCTYPE html>
<head>
    <link rel=stylesheet type=text/css href="{% static 'bootstrap-4.0.0-beta/css/bootstrap.min.css' %}">
    <link rel=stylesheet type=text/css
          href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css>
    <link rel=stylesheet type=text/css href="{% static 'common/dist/main.css' %}">
    {% block css %}

    {% endblock %}
</head>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>

<body>
<header class=c-header>
    {% block header %}
        <div class=c-header__logo>
            <a href="{% url 'home' %}">
                <svg aria-labelledby=iu-logo xmlns=http://www.w3.org/2000/svg width=70 height=70 viewBox="0 0 70 70"><title
                        id=iu-logo>IU logo</title>
                    <polygon
                            points="40.96 18.44 40.96 21.84 43.52 21.84 43.52 40.51 38.41 40.51 38.41 15.9 40.96 15.9 40.96 12.5 29.04 12.5 29.04 15.9 31.58 15.9 31.58 40.51 26.48 40.51 26.48 21.84 29.04 21.84 29.04 18.44 17.09 18.44 17.09 21.84 19.65 21.84 19.65 43.79 23.72 48.15 31.58 48.15 31.58 53.26 29.04 53.26 29.04 57.5 40.96 57.5 40.96 53.26 38.41 53.26 38.41 48.15 45.93 48.15 50.33 43.79 50.33 21.84 52.91 21.84 52.91 18.44 40.96 18.44"
                            fill="#fff"/>
                </svg>
            </a>
        </div>
    {% endblock %}
    <div class=c-header__title><a href="{% url 'home' %}">{% block title %}Django Airavata Gateway{% endblock %}</a></div>
    {% if user.is_authenticated %}
        <div class=c-header__controls>
            <div class="btn-group">
                <div class=dropdown>
                    <a href=#0 class="dropdown-toggle text-dark" id=appDropdownMenuButton data-toggle=dropdown
                            aria-haspopup=true aria-expanded=false>
                        {% if current_airavata_app %}
                            <i class="fa {{ current_airavata_app.fa_icon_class }} mr-2"></i>
                            {{ current_airavata_app.verbose_name }}
                        {% else %}
                            Menu
                        {% endif %}
                    </a>
                    <div class=dropdown-menu aria-labelledby=appDropdownMenuButton>
                            {% for app in airavata_apps %}
                                {% if app == current_airavata_app %}
                                    <a class="dropdown-item active" href="{% url app.url_home %}">
                                        <i class="fa {{ app.fa_icon_class }} mr-2"></i>{{ app.verbose_name }}
                                    </a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url app.url_home %}">
                                        <i class="fa {{ app.fa_icon_class }} mr-2"></i>{{ app.verbose_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="btn-group ml-3">
                <div class=dropdown>
                    <a href=#0 class="dropdown-toggle text-dark" id=dropdownMenuButton data-toggle=dropdown
                        aria-haspopup=true aria-expanded=false>
                        <i class="fa fa-user mr-2"></i> {{ request.session.USERINFO.given_name }} {{ request.session.USERINFO.family_name }}
                    </a>
                    <div class=dropdown-menu aria-labelledby=dropdownMenuButton>
                        <a class=dropdown-item href=#>User settings</a>
                        <a class=dropdown-item href="{% url 'django_airavata_auth:logout' %}">
                            Logout <i class="fa fa-sign-out"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</header>

<div class=stage>
    <nav class=c-nav>
        {% block nav-items %}
        {% endblock %}
    </nav>
    <main class="main-content">
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>

{% block scripts %}
{% endblock %}
</body>
