{% extends "base.html" %}
{% load static %}
{% block content %}
<nav class=c-nav><a href="/admin" class="c-nav__item is-active" data-toggle=tooltip data-placement=right title=Dashboard><i
    class="fa fa-dashboard"></i> <span class=sr-only>Dashboard</span> </a><a href=#0 class=c-nav__item
                                                                             data-toggle=tooltip data-placement=right
                                                                             title=Experiments><i
    class="fa fa-flask"></i> <span class=sr-only>Dashboard</span> </a><a href=#0 class=c-nav__item data-toggle=tooltip
                                                                         data-placement=right title=Projects><i
    class="fa fa-folder-open"></i> <span class=sr-only>Dashboard</span> </a><a href=#0 class=c-nav__item
                                                                               data-toggle=tooltip data-placement=right
                                                                               title=Storage><i
    class="fa fa-floppy-o"></i> <span class=sr-only>Dashboard</span> </a><a href=#0 class=c-nav__item
                                                                            data-toggle=tooltip data-placement=right
                                                                            title="Admin Dashboard"><i
    class="fa fa-wrench"></i> <span class=sr-only>Admin Dashboard</span></a></nav>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
{% endblock %}